:root {
    --azul-principal: #0386ff;
    --amarelo-principal: #fdeb00;
    --vermelho-principal: #ff0000;
    --verde-principal: #07eb3b;
    --fonte-titulo: 'Great Vibes', cursive;
    --fonte-subtitulo: 'Kalam', cursive;
    --fonte-footer: font-family: 'Roboto Mono', monospace;
    --cor-de-fundo: rgb(235, 235, 235);
}

body {
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
    background-image: linear-gradient(to bottom, white, #0386ff, white);
}

/* Estilos para telas menores, como celulares */
@media screen and (max-width:767px) {

    body {
        padding: 0;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }

    .whatsapp-link {
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 20px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 20px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }

    .fa-whatsapp {
        margin-top: 11px;
    }

    .cabecalho {
        padding: 10px 0;
        text-align: center;
        display: block;
    }

    .lista-menu {
        display: none;
    }

    #burguer {
        display: block;
        color: black;
        background-color: var(--azul-principal);
        padding: 10px;
    }

    menu {
        display: none;
    }

    menu>ul {
        list-style-type: none;
    }

    menu>ul>li>a {
        display: block;
        padding: 5px;
        cursor: pointer;
        text-align: center;
    }

    .botao {
        background-color: white;
        display: block;
        color: black;
        cursor: pointer;
        border-top: 1px solid black;
    }

    .botao.clicado {
        color: red;
        transform: scale(1.5);
    }

    #botao4 {
        border-bottom: 1px solid black;
    }

    .container-sobre {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
    }

    .container-sobre_carrossel {
        width: 100%;
        max-width: 425px;
        height: auto;
        display: flex;
        overflow: hidden;
    }

    .slide {
        width: 100%;
        position: relative;
        transition: 2s;
        flex-shrink: 0;
    }

    .slide img {
        max-width: 100%;
        height: auto;
    }

    .navigation-auto div {
        border: 2px solid #0386ff;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: 1s;
        margin-bottom: 5px;
    }

    .manual-navigation,
    .navigation-auto {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
    }

    .manual-btn,
    .navigation-auto label {
        border: 2px solid #fff;
        border-radius: 50%;
        transition: 0.5s;
        margin: 5px;
        padding: 0;
        background-color: transparent;
        padding: 10px;
    }

    .manual-btn:hover,
    .navigation-auto label:hover {
        background-color: #fff;
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 35px;
    }

    #radio1:checked~.first {
        margin-left: 0;
    }

    #radio2:checked~.first {
        margin-left: -100%;
    }

    #radio3:checked~.first {
        margin-left: -200%;
    }

    #radio1:checked~.first,
    #radio2:checked~ :nth-child(2),
    #radio3:checked~ :nth-child(3) {
        background-color: #fff;
    }

    .container-sobre_txt {
        padding: 10px;
        margin: 10px;
    }

    .titulo-sobre {
        margin: 20px;
        padding: 0;
    }

    .coluna {
        display: block;
        text-align: center;
        padding: 0;
        margin: 20px;
    }

    .txt-social {
        text-align: justify;
        margin: 0;
        padding: 30px;
    }

    .img-perfil {
        margin: 1em;
        height: 250px;
        object-fit: cover;
        width: 0 auto;
    }

    select {
        margin: 11px 0;
        text-align: center;
        width: 40%;
        padding: 15px 15px;
        font-size: 15px;
    }

    .enviar {
        width: 50%;
        padding: 15px 0;
        background: orange;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        transition: 1s all;
        margin: 10px 0 0 25px;
    }

    .container-localizacao {
        display: inline-block;
        align-items: center;
    }

    .mapa-conteudo {
        height: 500px;
        width: 350px;
        padding: 0;
        margin: 1em;
    }

    .img {
        display: block;
        margin: 1em;
    }

    .img img {
        padding: 10px;
    }
}

/* Estilos para telas medias, como tablet*/
@media screen and (min-width:768px) and (max-width:1023px) {

    .whatsapp-link {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }

    .fa-whatsapp {
        margin-top: 16px;
    }

    .logo {
        display: flex;
        justify-content: center;
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }

    .menu-hamburguer {
        display: none;
    }

    #burguer {
        display: none;
    }

    .botao {
        color: black;
        background: transparent;
        border: none;
        font-size: 25px;
        transition: all 0.3s;
        cursor: pointer;
    }

    .botao.clicado {
        color: white;
        transform: scale(1.5);
    }

    .lista-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        row-gap: 2em;
        column-gap: 2em;
        margin: 1em 0 1em 0;
    }

    .container-sobre {
        margin: 0 auto;
        width: 800px;
        height: 500px;
        overflow: hidden;
    }

    .container-sobre_carrossel {
        width: 400%;
        height: 500px;
        display: flex;
    }

    .container-sobre_carrossel input {
        display: none;
    }

    .slide {
        width: 25%;
        position: relative;
        transition: 2s;
    }

    .slide img {
        width: 800px;
    }

    .manual-navigation {
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid #fff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 30px;
    }

    .manual-btn:hover {
        background-color: #fff;
    }

    #radio1:checked~.first {
        margin-left: 0;
    }

    #radio2:checked~.first {
        margin-left: -25%;
    }

    #radio3:checked~.first {
        margin-left: -50%;
    }

    .navigation-auto div {
        border: 2px solid #0386ff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .navigation-auto {
        position: absolute;
        width: 800px;
        margin-top: 460px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 30px;
    }

    #radio1:checked~.navigation-auto .auto-btn1 {
        background-color: #fff;
    }

    #radio2:checked~.navigation-auto .auto-btn2 {
        background-color: #fff;
    }

    #radio3:checked~.navigation-auto .auto-btn3 {
        background-color: #fff;
    }

    .container-sobre_txt {
        padding: 1em 1em;
        margin: 2em;
        background-color: var(--cor-de-fundo);
        border-radius: 10px;
    }

    .titulo-sobre {
        padding-left: 2em;
        margin-top: 2em;
        font-size: 30px;
    }

    .txt-sobre {
        padding-top: 1em;
        font-size: 18px;
    }

    .quem-somos {
        display: none;
    }

    .container-social {
        margin-top: 3em;
        background-color: var(--cor-de-fundo);
        margin: 0em 1em;
        border-radius: 20px;
    }

    .coluna {
        display: flex;
        align-items: center;
    }

    .img-perfil {
        border-radius: 50px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.625);
        margin: 1em;
        justify-content: center;
        width: 300px;
        height: 250px;
    }

    .txt-social {
        font-size: 18px;
        padding: 1em;
        display: flex;
        align-items: center;
        line-height: 1.3em;
        text-align: justify;
    }

    .contato {
        display: none;
    }

    form {
        display: grid;
        grid-template-columns: none;
        align-items: center;
        justify-content: center;
        margin: 40px 40px;
        padding-bottom: 25px;
        background-color: var(--cor-de-fundo);
        border-radius: 10px;
    }

    form label,
    form legend {
        display: block;
        font-size: 20px;
        margin: 0 0 12px;
    }

    fieldset {
        margin: 1em;
    }

    .input-padrao {
        display: block;
        margin: 0 0 20px;
        width: 70%;
        padding: 10px 25px;
    }

    select {
        margin: 11px 0;
        text-align: center;
        width: 25%;
        padding: 15px 15px;
        font-size: 15px;
    }

    option {
        width: 5%;
        font-size: 16px;
        background: #dbd5d5;
    }

    .enviar {
        width: 25%;
        padding: 15px 0;
        background: orange;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        transition: 1s all;
        margin: 10px 0 0 25px;
    }

    .enviar:hover {
        background: darkorange;
        transform: scale(1.2);
    }

    .container-localizacao {
        background-color: var(--cor-de-fundo);
        margin: 1em 2em;
        padding: 20px 0;
        border-radius: 10px;
    }

    .mapa {
        display: none;
    }

    .mapa h3 {
        margin-top: 1em;
        text-align: center;
        font-size: 20px;
    }

    .mapa-conteudo {
        display: flex;
        justify-content: center;
        width: 650px;
        margin: 1em 0;
    }

    .img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-bottom: 2em;
    }

    .img-sala {
        width: 500px;
        height: 350px;
        object-fit: cover;
    }

    .Copyright {
        color: black;
        font: --fonte-footer;
        font-size: 13px;
        margin-bottom: 1em;
    }

    footer {
        padding-bottom: 10px;
        text-align: center;
        width: 100%;
    }
}

/* Estilos para telas maiores, como desktop */
@media screen and (min-width:1024px) {

    .whatsapp-link {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }

    .fa-whatsapp {
        margin-top: 16px;
    }

    .logo {
        display: flex;
        justify-content: center;
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }

    .menu-hamburguer {
        display: none;
    }

    #burguer {
        display: none;
    }

    .botao {
        color: black;
        background: transparent;
        border: none;
        font-size: 25px;
        transition: all 0.3s;
        cursor: pointer;
    }

    .botao.clicado {
        color: white;
        transform: scale(1.5);
    }

    .lista-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        row-gap: 2em;
        column-gap: 2em;
        margin: 1em 0 1em 0;
    }

    .container-sobre {
        margin: 0 auto;
        width: 800px;
        height: 500px;
        overflow: hidden;
    }

    .container-sobre_carrossel {
        width: 400%;
        height: 500px;
        display: flex;
    }

    .container-sobre_carrossel input {
        display: none;
    }

    .slide {
        width: 25%;
        position: relative;
        transition: 2s;
    }

    .slide img {
        width: 800px;
    }

    .manual-navigation {
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid #fff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 30px;
    }

    .manual-btn:hover {
        background-color: #fff;
    }

    #radio1:checked~.first {
        margin-left: 0;
    }

    #radio2:checked~.first {
        margin-left: -25%;
    }

    #radio3:checked~.first {
        margin-left: -50%;
    }

    .navigation-auto div {
        border: 2px solid #0386ff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .navigation-auto {
        position: absolute;
        width: 800px;
        margin-top: 460px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 30px;
    }

    #radio1:checked~.navigation-auto .auto-btn1 {
        background-color: #fff;
    }

    #radio2:checked~.navigation-auto .auto-btn2 {
        background-color: #fff;
    }

    #radio3:checked~.navigation-auto .auto-btn3 {
        background-color: #fff;
    }

    .container-sobre_txt {
        padding: 1em;
        margin: 2em 6em;
        background-color: var(--cor-de-fundo);
        border-radius: 10px;
    }

    .titulo-sobre {
        padding-left: 5em;
        margin-top: 2em;
        font-size: 30px;
    }

    .txt-sobre {
        padding-top: 1em;
        font-size: 18px;
        line-height: 1.3em;
        text-align: justify;
    }

    .quem-somos {
        display: none;
    }

    .container-social {
        border-radius: 10px;
        background-color: var(--cor-de-fundo);
        margin: 2em 6em;
    }

    .coluna {
        display: flex;
        align-items: center;
    }

    .img-perfil {
        border-radius: 50px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.625);
        margin: 1em;
        justify-content: center;
        width: 300px;
        height: 250px;
    }

    .txt-social {
        font-size: 18px;
        padding: 1em;
        display: flex;
        align-items: center;
        line-height: 1.5em;
        text-indent: 30px;
        text-align: justify;
    }

    .contato {
        display: none;
    }

    form {
        display: grid;
        grid-template-columns: none;
        align-items: center;
        justify-content: center;
        margin: 2em 6em;
        padding-bottom: 25px;
        background-color: var(--cor-de-fundo);
        border-radius: 10px;
    }

    form label,
    form legend {
        display: block;
        font-size: 20px;
        margin: 0 0 12px;
    }

    fieldset {
        margin: 1em;
    }

    .input-padrao {
        display: block;
        margin: 0 0 20px;
        width: 70%;
        padding: 10px 25px;
    }

    select {
        margin: 11px 0;
        text-align: center;
        width: 25%;
        padding: 15px 15px;
        font-size: 15px;
    }

    option {
        width: 5%;
        font-size: 16px;
        background: #dbd5d5;
    }

    .enviar {
        width: 25%;
        padding: 15px 0;
        background: orange;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        transition: 1s all;
        margin: 10px 0 0 25px;
    }

    .enviar:hover {
        background: darkorange;
        transform: scale(1.2);
    }

    .mapa {
        display: none;
    }

    .container-localizacao {
        background-color: var(--cor-de-fundo);
        margin: 2em 6em;
        padding: 25px 0;
        border-radius: 10px;
    }

    .mapa h3 {
        margin-top: 1em;
        text-align: center;
        font-size: 20px;
    }

    .mapa-conteudo {
        display: flex;
        justify-content: center;
        width: 600px;
        margin: auto;
        padding: 1em 0;
    }

    .img {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        margin-bottom: 2em;
    }

    .img-sala {
        width: 220px;
        height: 220px;
        object-fit: cover;
    }

    .Copyright {
        color: black;
        font: --fonte-footer;
        font-size: 13px;
        margin-bottom: 1em;
    }

    footer {
        padding-bottom: 10px;
        text-align: center;
        width: 100%;
    }

}