:root {
    --azul-principal: #0386ff;
    --amarelo-principal: #fdeb00;
    --vermelho-principal: #ff0000;
    --verde-principal: #07eb3b;
    --fonte-titulo: 'Great Vibes', cursive;
    --fonte-subtitulo: 'Kalam', cursive;
    --cor-footer: #edd99d;
    --fonte-footer: font-family: 'Roboto Mono', monospace;
}

body {
    background-color: white;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
    background-image: linear-gradient(to bottom, white, #0386ff, white);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 50px;
}

.lista-menu_link {
    text-decoration: none;
    color: black;

}

.lista-menu_link:hover {
    color: white;
}

.lista-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    column-gap: 2em;
    margin: 2em 0 2em 0;
    padding: 1em;
}

.container-home {
	margin: 0 auto;
	width: 800px;
	height: 500px;
	overflow: hidden;
}

.container-home_carrossel {
	width: 400%;
	height: 500px;
	display: flex;
}

.container-home_carrossel input {
	display: none;
}

.slide {
	width: 25%;
	position: relative;
	transition: 2s;
}

.slide img {
	width: 800px;
}

.manual-navigation {
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn {
	border: 2px solid #fff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child) {
	margin-right: 30px;
}

.manual-btn:hover {
	background-color: #fff;
}

#radio1:checked ~ .first {
	margin-left: 0;
}

#radio2:checked ~ .first {
	margin-left: -25%;
}

#radio3:checked ~ .first {
	margin-left: -50%;
}

.navigation-auto div {
	border: 2px solid #0386ff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.navigation-auto {
	position: absolute;
	width: 800px;
	margin-top: 460px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child) {
	margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
	background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
	background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
	background-color: #fff;
}


.titulo, .sub-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 50px;

}

.sub-titulo {
    padding-left: 2em;
    margin-bottom: 1em;
    font-size: 35px;
    font-weight: 300;
}

.titulo {
    font-family: var(--fonte-titulo), Arial, sans-serif;
    color: var(--azul-principal);
}

.sub-titulo {
    font-family: var(--fonte-subtitulo), Arial, sans-serif;;
    color: var(--verde-principal);
}

.sobre {
    margin: 0 5em 0 5em;
}
.container-paragrafo {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.container-paragrafo img{
	width: 700px;
	height: 525px;
}

.img-sala {
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.625);
    margin: 2em;
}

h3 {
    margin-bottom: 1em;
    /* display: flex;
    justify-content: center; */
}

strong {
    font-weight: 700;
    padding-left: 5px;
}

p {
    font-size: 25px;
    font-weight: 100;
    margin: 10px;
}

.contato {
    margin-left: 20%;
}

form {
    margin: 40px 40px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 12px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    width: 50%;
    padding: 10px 25px;
}

.checkbox {
    margin: 20px 0;
}

select {
    margin: 11px 0;
    text-align: center;
    width: 15%;
    padding: 15px 15px;
    font-size: 15px;
}

option {
    width: 5%;
    font-size: 16px;
    background: #dbd5d5;
}

.enviar {
    width: 15%;
    padding: 15px 0;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 1s all; 
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 40px;
}

thead {
    background: #555555;
    color: #FFFFFF;
}

td, th {
    border: 1px solid #000000;
    padding: 10px 20px;
}

footer {
    color:black;
    font: --fonte-footer;
    text-align: center;
    padding-bottom: 10px;
    width : 100%;
    background-image: linear-gradient(to bottom, #DDEFFF, #edd99d );
}


